.app{
    background-color: #212529de;
    min-height: 100vh;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240327/pngtree-supermarket-aisle-with-empty-shopping-cart-at-grocery-store-retail-business-image_15646095.jpg);
    background-repeat: repeat-y;
    background-size: 115vw;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
